body, html {
    height: 100%;
    margin-left:30px;
    margin-right:30px;
}

#bookmark_container {
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-gap: 5px;
}

@media only screen and (max-width: 600px) {
#bookmark_container {
    display: grid;
    grid-template-columns: initial;
    grid-template-rows: .5fr .5fr;
    grid-gap: 5px;
}
}

.bookmark_box {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-spacing: 3px;
    padding: 3px;
}
    